*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family:Arial, Helvetica, sans-serif ;
  width: 100%;
  height: 100%;
}

main{
  height: 100%;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns:30% 20% 50%;
  grid-template-rows:50px 200px 500px 300px 400px 200px 350px 200px 400px  500px 300px  ;

  grid-template-areas: 
  "header header header"
  "ab p1 p1"
  "vid1 vid1 vid1"
  "math math math"
  "p2 p2 img2"
  "p3 p3 p3"
  "cards cards cards"
  "p4 p4 p4"
  "img3 img3 p5"
 "address address map"
 "fp fp fp"
 

  ;
  

}

header{
  grid-area: header;
  background: linear-gradient(transparent,black);
  display: flex;
  align-items: center;
justify-content: space-between;
padding: 0px 50px;


}

#logo{
  height: 40px;
  width: 40px;
border: 2px solid blue;
border-radius:50% ;
}

#head1{
  display: flex;
  align-items: center;
  gap: 3px;



}

nav>a{
  text-decoration: none;
  color: black;
padding-left: 20px;
  
}

#button1{ 
  transform: translateX(20px);
  
}

#first{
  padding: 5px 10px;
  border-radius: 100px;
  border:2px solid blue;
  background-color: white;
  color: blue;
  cursor: pointer;
}
#second{
    padding: 5px 10px;
  border-radius: 100px;
  border:2px solid blue;
  background-color:blue;
  color:white ;
  cursor: pointer;
}



#ab{
  grid-area: ab;
  background-color: white;
  padding: 30px;
  text-align: center;

}
#ab>h1{
  font-size: 50px;
  background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3VsZDJjNHYzNTdpa2w5Y3FwNnhxdXZqd2poZjRxeWVqZHVuMTU1ZCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/7AtHoQ9XWbpwLRxs0t/giphy.webp);
background-size: cover;
color: transparent;
background-clip: text;
}


#p1{
  grid-area: p1;
  background-color: white;}
  #p1>p{
    width: 900px;
  padding: 20px;
  
  }

  #button2{
    padding: 0px 50px;
  }

#third{
    padding: 10px 2cqmin;
  border-radius: 100px;
  border:2px solid blue;
  background-color:blue;
  color:white ;
  cursor: pointer;
}
#fourth{
  padding: 10px 20px;
  border-radius: 100px;
  border:2px solid blue;
  background-color: white;
  color: blue;
  cursor: pointer;
}


#theme1{
  height: 450px;
width:1000px;
background-color: white;
border-radius: 25px;
  
}


  #vid1{
    grid-area: vid1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
     
  }

  video{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    object-fit: cover
    
    
  }
  #math{
    grid-area: math;
    background-color: white;
    padding-left: 70px;
    
    
  }

  #maththeme{
  height: 98%;
    width: 98%;
background-image: url(https://images.unsplash.com/photo-1528460033278-a6ba57020470?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fGJhY2tncm91bmQlMjBpbWFnZXxlbnwwfHwwfHx8MA%3D%3D);
   background-size: cover;
   background-position: center;
    border-radius: 25px;
 display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
    justify-content: space-evenly;
  }
  .math1{
    width: 200px;
    text-align: center;
    font-size: 70px;
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3VsZDJjNHYzNTdpa2w5Y3FwNnhxdXZqd2poZjRxeWVqZHVuMTU1ZCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/7AtHoQ9XWbpwLRxs0t/giphy.webp);
background-size: cover;
color: transparent;
background-clip: text;
    
  }

  .math1 p{
    font-size:15px;
    font-weight: 500px;
  }

  #p2{
    grid-area: p2;
    display: flex;
    flex-direction: column;
    background-color:white;
    align-items: center;
   gap: 30px;
    
  }

  #fifth{
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 20px;
border-radius: 50px;
cursor: pointer;
  }

#p2c{
  width: 500px; 
  font-size:  30px; 


}
#p2c>h2{
background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3VsZDJjNHYzNTdpa2w5Y3FwNnhxdXZqd2poZjRxeWVqZHVuMTU1ZCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/7AtHoQ9XWbpwLRxs0t/giphy.webp);
background-size: cover;
color: transparent;
background-clip: text;


}
#bpp2{
  width: 500px;
}

  #img2{
    grid-area: img2;
    background-color:white;
   
  }

  .img2i{
  
    height:411px;
    padding: 30px;
    border-radius: 50px;
    
  }

  #p3{
    grid-area: p3;
    background-color: rgb(247, 247, 247);
    position: relative;
    display: flex ;
    justify-content: space-between;
    align-items: center;
   
  }
  
  
  

  .p3hh{
    width: 550px;
    font-size: 40px;
      transform: translateX(100px);
      background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3VsZDJjNHYzNTdpa2w5Y3FwNnhxdXZqd2poZjRxeWVqZHVuMTU1ZCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/7AtHoQ9XWbpwLRxs0t/giphy.webp);
background-size: cover;
color: transparent;
background-clip: text;
  }
    
  .p3p p{
    width: 500px;
    transform: translateX(-50px
    );
  }
    

  
  .sixth{
    position: absolute;
    padding: 10px 20px;
    transform: translateX(300px);
    top: 3px;
    
    border-radius: 70px;
    cursor: pointer;
  }
  body{
    overflow: auto;
  }


  #cards{
    grid-area: cards;
    background-color: white;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
   justify-content: center;
  }

  .card1{
    height: 300px;
    width: 250px;
    background: white;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    

  
  
   
    
  }
  #cardimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
   
  }

  #cardb{
    height: 40%;
width: 100%;
text-align: center;
    background:linear-gradient(transparent,black);
    position: absolute;
    bottom: -40%;
    color: white;
    transition: all ease 1s;
  }

  #cardb h3{
    padding: 10px;
    padding-top: 40px;
  }
  
  .card1:hover #cardb{
    bottom: 0;
  }

  #p4{
    grid-area: p4;
    background-color: white;
      position: relative;
    display: flex ;
    justify-content: space-between;
    align-items: center;
   
  }
  #img3{
    grid-area: img3;
    background-color: white;
  }
  #p5{
    grid-area: p5;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: space-evenly;
  }

  #p5h2{
width: 500px;

  }

   #p5h2 p{

padding-bottom: 10px;
   }
  #p5h2 a{
    text-decoration: none;
    color: black;
font-weight: 1000px;
font-size: 30px;

  }

  .p5h2{
    width: 500px;
  }
.p5h2c{
  padding-bottom: 10px;
}

  #address{
    grid-area: address;
    background-color: rgb(248, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: space-evenly;
  }
  .p5h2 h1{
    font-size: 60px;
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3VsZDJjNHYzNTdpa2w5Y3FwNnhxdXZqd2poZjRxeWVqZHVuMTU1ZCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/7AtHoQ9XWbpwLRxs0t/giphy.webp);
background-size: cover;
color: transparent;
background-clip: text;
  }

  #address h3{
  font-size: 20px;
  font-weight: 10;
  padding-top: 10px;
  }
  #address p{
font-size: 15px;
  }

  .p5h2 button{
    padding: 10px 20px;
    border-radius: 50px;
    transform: translateX(100px);
    cursor: pointer;
  }
  .p5h2 i{
    border: 2px solid black;
    cursor: pointer;
  }

  #map{
    grid-area: map;
    background-color: salmon ;

  }
#map iframe{
  height: 100%;
  width: 100%;
}

  #fp{
    grid-area: fp;
    background-color: white;
padding: 25px;

  }
 
   
   #fhtheme{
    height: 100%;
    width: 100%;
    background-color: #232323;
    border-radius: 25px;
    display: flex;
    
    justify-content: space-evenly;
    position: relative;
   }

   #fh1{
 padding-top: 20px;
      width: 300px;
   }
    #fh2{
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100px;
    }
    #fh3{
       display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100px;
    }
  
#fh4{
   display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100px;
     
      
}

    
#logoh{
  display: flex;
  align-items: center;
  gap: 5px;
 
  color: white;

}
#email{
  padding-top: 30px;
}
#email p{
  color: white;
padding-bottom: 10px;
}
#email input{
  padding: 5px 10px ;
  border-radius: 50px ;
  border: none;
  background-color: #5a4e4e81;
 
}

#email ::placeholder{
  color: white;
}

#email button{
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.flink{
  text-decoration: none;
  color: white;
}
.fh3{
margin-top: 20px;

}

  #footerf{
height: 30px;
width: 75%;
color: white;
position: absolute;
bottom: 20px;
left: 140px;
display: flex;
justify-content: space-between;

  }
 

#footer3 i{
  padding: 5px;
 
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;

}
 
